-- Buat scheduled job untuk cleanup rate limit logs setiap 5 menit
-- Memerlukan pg_cron extension (sudah tersedia di Supabase)
SELECT cron.schedule(
  'cleanup-rate-limit-logs',
  '*/5 * * * *',
  \$\ FROM public.rate_limit_logs WHERE created_at < (now() - interval '2 minutes')\$\$
);
